body {
  max-width: 320px;
  margin: auto;
}

header {
  background-image: url("../img/img_fruits.webp");
  padding: 28px;
  padding-bottom: 185px;
  border-top: solid 8px #7db96f;
  display: flex; 
  flex-direction: column;
  justify-content:  center;
}

.title-container {
  background-color: #ffffffe0; 
  padding: 30px 58px 29px 58px; 
  margin-bottom: 33px; 
}

.button {
  background-color: #7db96f;
  padding: 14px 22px;  
  border-radius: 12px; 
  text-align: center;
  margin-bottom: 18px;
  color: white;
  text-decoration: none;
}

.button-contact {
  background-color: white;
  padding: 14px 22px;  
  border-radius: 12px;
  text-align: center;
  color: #7db96f;
  text-decoration: none; 
  max-width: 100px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fruit-container {
  display: flex; 
  flex-direction: row; 
  justify-content: space-between;
}

.presentation {
  text-align: center;
  padding: 96px 50px;
  background-color: white;
  color: black;
}

.fruit-container img {
  width: 28px; 
}

main {
  background-color: #7db96f;
  text-align: center;
  color: white;
}

.article-container {
  background-color: #7db96f;
  padding: 46px 29px;
}

.article-banane {
  background-color: #fcf7d6;
  color: black;
  text-align: left;
  padding: 39px 35px;
  padding-bottom: 30px;
  border-radius: 20px;
  box-shadow: 0 0 10px 7px #0000004a;
  margin-bottom: 40px;
}

.article-banane p {
  color: #0000008c;
}

.article-banane a {
  color: black;
}

.article-cafe {
  background-color: #cdc4b0;
  color: black;
  text-align: left;
  padding: 39px 35px;
  padding-bottom: 30px;
  border-radius: 20px;
  box-shadow: 0 0 10px 7px #0000004a;
  margin-top: 40px;
  margin-bottom: 40px;
}

.article-cafe p {
  color: #0000008c;
}

.article-cafe a {
  color: black;
}

.article-fraise {
  background-color: #e2a2b1;
  color: black;
  text-align: left;
  padding: 39px 35px;
  padding-bottom: 30px;
  border-radius: 20px;
  box-shadow: 0 0 10px 7px #0000004a;
  margin-top: 40px;
  margin-bottom: 40px;
}

.article-fraise p {
  color: #0000008c;
}

.article-fraise a {
  color: black;
}

.article-kiwi {
  background-color: #d0f1ae;
  color: black;
  text-align: left;
  padding: 39px 35px;
  padding-bottom: 30px;
  border-radius: 20px;
  box-shadow: 0 0 10px 7px #0000004a;
  margin-top: 40px;
  margin-bottom: 40px;
}

.article-kiwi p {
  color: #0000008c;
}

.article-kiwi a {
  color: black;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
}

.container img {
  max-width: 70px;
}

footer {
  text-align: center;
  padding: 42px 50px;
  color: #7db96f;
}